<h4 class="text-center">Registre-se e mostre seu pet ao mundo!</h4>

<form class="form mt-4" [formGroup]="novoUsuarioForm" (submit)="cadastrar()">
  <div class="form-group">
    <input placeholder="email" class="form-control" formControlName="email" />
    <app-mensagem
    *ngIf="novoUsuarioForm.get('email')?.errors?.required && novoUsuarioForm.get('email')?.touched"
    mensagem="Email obrigatório"><!--?. - é a tag de condicionamento do if-->
    </app-mensagem>

    <app-mensagem
    *ngIf="novoUsuarioForm.get('email')?.errors?.email &&
    novoUsuarioForm.get('email')?. touched"
    mensagem="Email no formato incorreto">
    </app-mensagem>
  </div>

  <div class="form-group">
    <input placeholder="Nome completo" class="form-control" formControlName="fullName" />
    <app-mensagem
    *ngIf="novoUsuarioForm.get('fullName')?.errors &&
    novoUsuarioForm.get('fullName')?.touched"
    mensagem="Nome Incorreto"
    >

    </app-mensagem>
  </div>

  <div class="form-group">
    <input
      placeholder="Usuário"
      class="form-control"
      formControlName="userName"
    />
    <app-mensagem
      *ngIf="novoUsuarioForm.get('userName')?.errors?.minusculo && novoUsuarioForm.get('userName')?.touched"
      mensagem="Usuário deve ser em letrar minúscula">
    </app-mensagem>

    <app-mensagem
      *ngIf="novoUsuarioForm.get('userName')?. errors?.usuarioExistente"
      mensagem="Usuário ja existe"
    >

    </app-mensagem>
  </div>

  <div class="form-group">
    <input type="password" placeholder="senha" class="form-control" formControlName="password"/>
  </div>

  <button class="btn btn-primary btn-block">Cadastro</button>
</form>

<p>Já um usuário? <a [routerLink]="['']">Faça Login</a></p>
